# Template unit: one instance per folder under deploy/, e.g. moalmanac-browser@ie
[Unit]
Description=Gunicorn instance to serve moalmanac-browser (%i)
After=network.target moalmanac-api.service
Wants=moalmanac-api.service

[Service]
User=moalmanac
Group=www-data
WorkingDirectory=/srv/moalmanac/moalmanac-browser
EnvironmentFile=/srv/moalmanac/moalmanac-browser/.env.production
Environment="APP_CONFIG=/srv/moalmanac/moalmanac-browser/deploy/%i/config.ini"
Environment="PATH=/srv/moalmanac/miniforge3/envs/moalmanac-browser/bin"
ExecStart=/srv/moalmanac/miniforge3/envs/moalmanac-browser/bin/gunicorn --worker-class gthread --workers ${GUNICORN_WORKERS} --threads ${GUNICORN_THREADS} --bind unix:moalmanac-browser-%i.sock -m 007 run:app

[Install]
WantedBy=multi-user.target
