:root {
    --primary-color: #00629B;
    --secondary-color: #FFA300;
    --tertiary-color: #41B6E6;
}

.title {
    color: var(--primary-color);
}

.subtitle {
     color: var(--secondary-color);
}

a {
    color: var(--primary-color);
}

a:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

.navbar {
    background-color: var(--primary-color);
}

.navbar a {
    color: #FFFFFF;
}

.navbar .navbar-brand:hover {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    text-decoration: none;
}

.navbar-nav .nav-link:hover {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    text-decoration: none;
}

.nav .dropdown-toggle {
    color: #FFFFFF;
    background-color: var(--primary-color);
}

.nav .dropdown.open .dropdown-toggle {
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.nav .dropdown-toggle:focus,
.nav .dropdown-toggle:active {
    color: #FFFFFF;
    background-color: var(--primary-color);
}

.row h4 {
    color: var(--tertiary-color);
}

.category-title {
    color: var(--secondary-color)
}