:root {
    --primary-color: #005335; /* University of Limerick Green - for navbar, titles, logo, and hyperlinks */
    --secondary-color: #FFA300; /* Golden Leaf - for navbar hover, subtitles  */
    --tertiary-color: #003726; /* University of Limerick Heritage Green - for navbar, titles, logo, and hyperlinks */
}
