{%- extends 'base.html' %}

{% block title %}{{ config['APP_NAME'] }} Submission Approval {% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/jquery.dataTables.min.css')}}">
{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('static', filename='js/portal.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery.dataTables.min.js')}}"></script>
<script type="text/javascript">
    renderTable = function () {
        $('.results-table').DataTable({
            ordering: false,
            paging: true,
            searching: false
        });
    }

    renderTable();

    // Approve the submission as it currently looks. This will lead to the submission appearing in search results.
    $('.btn-approve').click(function (e) {
        var button = $(e.currentTarget);
        var button_data = button.data();
        var assertion_id = button_data.id;
        $.get('/approve_submission?assertion_id=' + assertion_id).done(function (data) {
            if (JSON.parse(data).success == true) {
                // Reload page
                location.reload();
            } else {
                alert("Something went wrong -- submission could not be approved.")
            }
        });
    });

    // Delete the submission forever.
    $('.btn-delete').click(function (e) {
        var button = $(e.currentTarget);
        var button_data = button.data();
        var assertion_id = button_data.id;
        var gene = button_data.gene;
        var disease = button_data.disease;
        var r = confirm("Really delete submission for " + gene + " in " + disease + "?");
        if (r == true) {
            $.get('/delete_submission?assertion_id=' + assertion_id).done(function (data) {
                if (JSON.parse(data).success == true) {
                    // Reload page
                    location.reload();
                } else {
                    alert("Something went wrong -- submission could not be deleted.")
                }
            });
        }
    });

    // Enable editing of field upon click.
    $('.editable').click(function (e) {
        var td = $(e.currentTarget);
        var currentValue = td.data().val;
        var attr = td.data().attr;
        var assertionId = td.data().assertion_id;
        var textFieldType = td.data().type == 'text'? 'input' : 'textarea rows="5"';
        var optionalDoi = td.data().doi? td.data().doi: null;

        // Replace the td's contents with a newly created input element
        var html_input_element = '<' + textFieldType + ' class="input" data-attr="' + attr + ' data-assertion_id="' + assertionId + '" type="text" placeholder="' + currentValue + '">'
        td.html(html_input_element);

        // Remove the click listener from this td so that we can type in the newly created input element at will
        td.removeClass('editable');
        td.unbind('click');

        // Put the cursor live on the input that just was created
        $('.input').focus();

        // An on-the-fly function to allow for submitting the input's contents to the backend upon hitting 'Enter'
        $('.input').keyup(function (e) {
            if (e.key == "Enter") {
                e.preventDefault();
                var newValue = e.currentTarget.value;
                $.ajax({
                  type: "POST",
                  url: '/amend',
                  data: {
                    'attribute_name': attr,
                    'assertion_id': assertionId,
                    'current_value': currentValue,
                    'new_value': newValue,
                    'doi': optionalDoi
                  },
                  success: function (response) {
                    // Reload page
                    location.reload();
                  },
                  error: function (response) {
                    alert("Update failed");
                  }
                });
            }
        });

        $('.input').blur(function (e) {
            // Clear any edits if the user clicks or tabs away from the text field without hitting enter
            location.reload();
        });
    });
</script>
{% endblock %}

{% block page_content %}
<h1>{{ config['APP_NAME'] }} Submission Approval </h1>

<p class="text-muted">Approve and edit submissions. Click on blue links to make changes before approving.</p>

<table class="results-table display compact">
    <thead>
        <tr>
            <th></th><th>Gene</th><th>Feature</th><th>Alt</th><th>Effect</th><th>Therapy</th><th>Sensitivity</th><th>Prognosis</th><th>Cancer Type</th><th>Predictive Level</th><th>DOIs</th><th>Citation</th><th>Submitter</th><th></th>
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
        <tr id="row-{{row['assertion_id']}}">
            <td>
               <span class="input-group-btn">
                    <button type="submit" class="btn btn-default btn-approve" data-id="{{row['assertion_id']}}" style="margin: auto;">Approve</button>
               </span>
            </td>
            <td>
                {% if row['gene_name'] %}
                    {{row['gene_name']}}
                {% endif %}
            </td>
            <td>
                {{row['feature'] if row['feature'] is not none}}
            </td>
            <td class="editable" data-type="text" data-assertion_id="{{row['assertion_id']}}" data-attr="alt" data-val="{{row['alt']}}">
                {{row['alt'] if row['alt'] is not none else '(any)'}}
            </td>
            <td>
                {{row['alt_type'] if row['alt_type'] is not none}}
            </td>
            <td class="editable" data-type="text" data-assertion_id="{{row['assertion_id']}}" data-attr="therapy_name" data-val="{{row['therapy_name']}}">
                {% if row['therapy_name'] %}
                    {{row['therapy_name']}}
                {% else %}
                    <span class="glyphicon glyphicon-edit"></span>
                {% endif %}
            </td>
            <td class="editable" data-type="text" data-assertion_id="{{row['assertion_id']}}" data-attr="therapy_sensitivity" data-val="{{row['therapy_sensitivity']}}">
                {% if row['therapy_sensitivity'] == True %}
                    Sensitivity
                {% elif row['therapy_sensitivity'] == False %}
                    Resistance
                {% endif %}
            </td>
            <td class="editable" data-type="text" data-assertion_id="{{row['assertion_id']}}" data-attr="favorable_prognosis" data-val="{{row['favorable_prognosis']}}">
                {% if row['favorable_prognosis'] == True %}
                    Good prognosis
                {% elif row['favorable_prognosis'] == False %}
                    Poor prognosis
                {% endif %}
            </td>
            <td>
                {% if row['disease'] %}
                    {{row['disease']}}
                {% endif %}
            </td>
            {%if row['predictive_implication'] is not none %}
                <td data-order="{{pred_impl_orders[row['predictive_implication']]}}">
                    {{row['predictive_implication']}}
                </td>
            {% else %}
                <td>
                </td>
            {% endif %}
            <td>
                <a href="https://doi.org/{{row['sources'][0].doi|urlencode}}">
                    {{row['sources'][0].doi}}
                </a>
            </td>
            <td class="editable" data-type="textarea" data-doi="{{row['sources'][0].doi}}" data-assertion_id="{{row['assertion_id']}}" data-attr="cite_text" data-val="{{row['sources'][0].cite_text}}">
                {% if row['sources'][0].cite_text %}
                    {{row['sources'][0].cite_text}}
                {% else %}
                    <span class="glyphicon glyphicon-edit"></span>
                {% endif %}
            </td>
            <td>
                {{row['submitter']}}
            </td>
            <td>
                <button type="button" class="btn btn-delete btn-sm" data-id="{{row['assertion_id']}}" data-gene="{{row['gene_name']}}" data-disease="{{row['disease']}}">
                    <span class="glyphicon glyphicon-trash">
                    </span>
                </button>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{%- endblock %}
