{%- extends 'base.html' %}

{% block title %}{{ config['APP_NAME'] }} Submission Approval {% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/jquery.dataTables.min.css')}}">
{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('static', filename='js/jquery.dataTables.min.js')}}"></script>
<script src="{{url_for('static', filename='js/portal-approve.js')}}"></script>
{% endblock %}

{% block page_content %}
<h1>{{ config['APP_NAME'] }} Submission Approval </h1>

<p class="text-muted">Approve and edit submissions. Click on blue links to make changes before approving. Enter key will save changes, tab key or clicking outside of input will cancel changes.</p>

<table class="results-table display compact">
    <thead>
        <tr>
            <th></th><th>Feature</th><th>Attributes</th></th><th>Therapy</th><th>Sensitivity</th><th>Prognosis</th><th>Cancer Type</th><th>Predictive Level</th><th>DOIs</th><th>Citation</th><th>Submitter</th><th></th>
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
        <tr id="row-{{row['assertion_id']}}">
            <td>
               <span class="input-group-btn">
                    <button type="submit" class="btn btn-default btn-approve" data-id="{{row['assertion_id']}}" style="margin: auto;">Approve</button>
               </span>
            </td>
            <td>
                {{ row['feature'] if row['feature'] is not none }}
            </td>
            <td>
                {{ row['display_string'] if row['display_string'] is not none }}
            </td>
            <td class="editable" data-type="text" data-assertion_id="{{row['assertion_id']}}" data-attr="therapy_name" data-val="{{row['therapy_name']}}">
                {% if row['therapy_name'] %}
                    {{ row['therapy_name'] }}
                {% else %}
                    <span class="glyphicon glyphicon-edit"></span>
                {% endif %}
            </td>
            <td class="editable" data-type="textarea" data-assertion_id="{{row['assertion_id']}}" data-placeholder="Sensitivity, Resistance, or None" data-attr="therapy_sensitivity" data-val="{{row['therapy_sensitivity']}}">
                {% if row['therapy_sensitivity'] == True %}
                    Sensitivity
                {% elif row['therapy_sensitivity'] == False %}
                    Resistance
                {% else %}
                    <span class="glyphicon glyphicon-edit"></span>
                {% endif %}
            </td>
            <td class="editable" data-type="textarea" data-assertion_id="{{row['assertion_id']}}" data-placeholder="Good, Poor, or None" data-attr="favorable_prognosis" data-val="{{row['favorable_prognosis']}}">
                {% if row['favorable_prognosis'] == True %}
                    Good
                {% elif row['favorable_prognosis'] == False %}
                    Poor
                {% else %}
                    <span class="glyphicon glyphicon-edit"></span>
                {% endif %}
            </td>
            <td>
                {% if row['disease'] %}
                    {{row['disease']}}
                {% endif %}
            </td>
            {%if row['predictive_implication'] is not none %}
                <td data-order="{{pred_impl_orders[row['predictive_implication']]}}">
                    {{row['predictive_implication']}}
                </td>
            {% else %}
                <td>
                </td>
            {% endif %}
            <td>
                <a href="https://doi.org/{{row['sources'][0].doi|urlencode}}">
                    {{row['sources'][0].doi}}
                </a>
            </td>
            <td class="editable" data-type="textarea" data-doi="{{row['sources'][0].doi}}" data-assertion_id="{{row['assertion_id']}}" data-attr="cite_text" data-val="{{row['sources'][0].cite_text}}">
                {% if row['sources'][0].cite_text %}
                    {{row['sources'][0].cite_text}}
                {% else %}
                    <span class="glyphicon glyphicon-edit"></span>
                {% endif %}
            </td>
            <td>
                {{row['submitter']}}
            </td>
            <td>
                <button type="button" class="btn btn-delete btn-sm" data-id="{{row['assertion_id']}}" data-gene="{{row['gene_name']}}" data-disease="{{row['disease']}}">
                    <span class="glyphicon glyphicon-trash">
                    </span>
                </button>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{%- endblock %}
