<footer class="footer">
	<div class="container text-muted">
		<p>&copy; Somebody 2017.</p>
		<p>TARGET DB is intended to be used for research purposes only. The information on this website is not intended or implied to be a substitute for professional medical advice or treatment.</p>
		<ul class="list-inline">
			<li><img src="/static/img/broad.png" class="img-responsive" height=50></li>
			<li><img src="/static/img/dana-farber.png" class="img-responsive" height=50></li>
		</ul>
	</div>
</footer>

