<footer class="footer">
	<div class="container text-muted">
		<p align="center">
			Please review our <a href="{{ url_for('portal.privacy_policy') }}">privacy policy</a> and
			<a href="{{ url_for('portal.terms') }}">terms</a> before use.
			<br>
			<a href="https://app.swaggerhub.com/apis-docs/vanallenlab/almanac-browser/0.2#/" target="_blank">API</a> |
			<a href="mailto: moalmanac@ds.dfci.harvard.edu" target="_blank">Contact</a> |
			<a href="https://github.com/topics/molecular-oncology-almanac" target="_blank">GitHub</a> |
			<a href="https://twitter.com/moalmanac" target="_blank">Twitter</a>
		</p>
		<ul id="logo-list" class="list-inline" align="center">
			<li>
                <a href="https://www.dana-farber.org/" target="_blank">
					<img src="/static/img/dana-farber-color.png" class="img-responsive footer-img">
				</a>
			</li>
			<li>
                <a href="https://www.broadinstitute.org/" target="_blank">
					<img src="/static/img/broad-color.png" class="img-responsive footer-img">
				</a>
			</li>
		</ul>
        {% include 'mailing-list.html' %}
	</div>
</footer>
