<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
	<div class="container container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">
				{{ config['APP_NAME_SHORT'] }}
			</a>
		</div>

		<div class="collapse navbar-collapse" id="navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="https://app.swaggerhub.com/apis-docs/vanallenlab/almanac-browser/0.2#/" target="_blank">API</a></li>
				<li><a href="https://moalmanac.org">Browser</a></li>
				<li><a href="https://chrome.google.com/webstore/detail/molecular-oncology-almana/jliaipolchffpaccagodphgjpfdpcbcm" target="_blank">Extension</a></li>
				<li><a href="https://portal.moalmanac.org">Portal</a></li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
                <li><a href="{{ url_for('portal.privacy_policy') }}">Privacy policy</a></li>
				<li><a href="{{ url_for('portal.about') }}">About</a></li>
				<li><a href="{{ url_for('portal.add') }}">Submit entry</a></li>
			</ul>
		</div>
	</div>
</nav>