{%- extends 'base.html' %}

{% block title %}{{ config['APP_NAME'] }}: Assertion Details{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/jquery.dataTables.min.css')}}">
{% endblock %}

{% block page_content %}
<h3><small>
</small></h3>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <strong>Assertion:</strong>
            {% if assertion.therapy_sensitivity is not none %}
            {% if assertion.therapy_sensitivity %}Sensitivity{% else %}Not sensitive{% endif %} to
                {% if assertion.therapy_name is not none %}
                    {{assertion.therapy_name}}
                {% elif assertion.therapy_class is not none %}
                    {{assertion.therapy_class}}
                {% else %}
                    {{assertion.therapy_type}}
                {% endif %}
            {% elif assertion.therapy_resistance is not none %}
            {% if assertion.therapy_resistance %}Resistance{% else %}Not resistance{% endif %} to
                {% if assertion.therapy_name is not none %}
                    {{assertion.therapy_name}}
                {% elif assertion.therapy_class is not none %}
                    {{assertion.therapy_class}}
                {% else %}
                    {{assertion.therapy_type}}
                {% endif %}
            {% elif assertion.favorable_prognosis is not none %}
            {% if assertion.favorable_prognosis %}a favorable{% else %}an unfavorable{% endif %} prognosis
            {% endif %}
            {% if assertion.disease is not none %} (in {{assertion.disease}}){% endif %}
            {% if assertion.predictive_implication is not none %}
            <span class="gene-panel-level label
                {% if assertion.predictive_implication=='FDA-Approved' %}label-success
                {% elif assertion.predictive_implication=='Level A' %}label-primary
                {% elif assertion.predictive_implication=='Level B' %}label-info
                {% elif assertion.predictive_implication=='Level D' %}label-warning
                {% elif assertion.predictive_implication=='Level E' %}label-danger{%endif%}">
                <h3 class="panel-title">{{assertion.predictive_implication}}</h3>
            </span>
            {% endif %}
        </h3>
    </div>

    <div class="panel-body">
        <p>{{assertion.description}}</p>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Feature</th>
                    <th>Feature type</th>
                    <th>Alt. type</th>
                    <th>Alteration</th>
                    {% if assertion.favorable_prognosis is none %}
                    <th>Therapy</th>
                    <th>Therapy class</th>
                    <!--<th>Therapy type</th>-->
                    <th>Response</th>
                    {% else %}
                    <th>Prognosis</th>
                    {% endif %}
                    <th>Cancer type</th>
                </tr>
                </thead>
                <tbody>
                {% for alt in assertion.alterations %}
                <tr>
                    <td>{% if alt.gene_name is not none %}{{alt.gene_name}}{% endif %}</td>
                    <td>{% if alt.feature is not none %}{{alt.feature}}{% endif %}</td>
                    <td>{% if alt.alt_type is not none %}{{alt.alt_type}}{% endif %}</td>
                    <td>{% if alt.alt is not none %}{{alt.alt}}{% endif %}</td>
                    {% if assertion.favorable_prognosis is none %}
                    <td>{{assertion.therapy_name}}</td>
                    <td>{{assertion.therapy_class}}</td>
                    <!-- <td>{{assertion.therapy_type}}</td> -->
                    <td>
                        {% if assertion.therapy_sensitivity == 1 %}
                            Sensitivity
                        {% elif assertion.therapy_sensitivity == 0 %}
                            Not sensitive
                        {% elif assertion.therapy_resistance == 1 %}
                            Resistance
                        {% elif assertion.therapy_resistance == 0 %}
                            Not resistance
                        {% endif %}
                    </td>
                    {% else %}
                    <td>
                        {% if assertion.favorable_prognosis %}Favorable{% else %}Unfavorable{% endif %}
                    </td>
                    {% endif %}
                    <td>{% if assertion.disease is not none %}{{assertion.disease}}{% endif %}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <p class="text-muted">Citations:</p>
        <ul>
        {% for source in assertion.sources %}
			<li>
				{% if source.doi is not none %}
                    {% if source.source_type == 'Journal' %}
                        <a href="https://doi.org/{{source.doi|urlencode}}">
                            {{source.cite_text}}
                        </a>
                    {% elif source.source_type == 'Clinical Trial' %}
                        <a href="https://clinicaltrials.gov/ct2/show/{{source.doi|urlencode}}">
                            {{source.cite_text}}
                        </a>
                    {% endif %}
				{% else %}
				    {{source.cite_text}}
				{% endif %}
			</li>
        {% endfor %}
        </ul>
    </div>
</div>
{%- endblock %}
