{%- extends 'base.html' %}

{% macro pagination_nav() -%}
<p class='text-center'>
    {% if viewing_all %}
        <a href='{{ url_for('gene_views.genes', page=1) }}'>View first 10</a>
    {% else %}
        {% if paginate_has_prev %}
            <a href='{{ url_for('gene_views.genes', page=1) }}'>&lt;&lt; first 10</a> |
            <a href='{{ url_for('gene_views.genes', page=paginate_prev_num) }}'>&lt; 10 previous</a> |
        {% endif %}
        <a href='{{ url_for('gene_views.genes-all') }}'>View all</a>
        {% if paginate_has_next %}
            | <a href='{{ url_for('gene_views.genes', page=paginate_next_num) }}'>10 next &gt;</a>
            | <a href='{{ url_for('gene_views.genes', page=paginate_total_pages) }}'>last 10 &gt;&gt;</a>
        {% endif %}
    {% endif %}
</p>
{%- endmacro %}

{% block scripts %}
{{super()}}
<script type="text/javascript">
var typeahead_genes = [
{% for gene in typeahead_genes %}
'{{gene}}',
{% endfor %}
];
</script>
<script src="{{url_for('static', filename='js/typeahead.bundle.js')}}"></script>
<script src="{{url_for('static', filename='js/portal.js')}}"></script>
{% endblock %}

{% block content %}

{% set current_page = 'index' %}
{% include 'nav.html' %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class="flashes list-unstyled">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<section class="container-fluid target-content">
	<div class="container">
		<div class="jumbotron text-center">
			<h1 class="jumbotron-heading">TARGET DB</h1>
			<p class="lead text-muted">Search over 200 genes associated with clinical actionability.</p>
			<div id="jumbo-gene-search-group" class="input-group">
				<input type="text" class="form-control typeahead" placeholder="Gene name">
				<span class="input-group-btn">
					<button class="btn btn-default btn-search" type="button">Search</button>
				</span>
			</div>
		</div>

		<div class="text-center">
			<p class="lead text-muted">Or browse alterations by:</p>
		</div>

		<div class="row">
			<div class="col-md-4">
				<h3>Cancer Type</h3>
				<p>Select from <strong>12</strong> cancer types:</p>
				<select class="form-control browse-dropdown">
					<option>Acute Lymphoblastic Leukemia</option>
					<option>Acute Myeloid Leukemia</option>
					<option>Anaplastic Large Cell Lymphoma</option>
					<option>Basal Cell Carcinoma</option>
					<option>Bladder Cancer</option>
					<option>Breast Cancer</option>
				</select>
			</div>

			<div class="col-md-4">
				<h3>Predictive Implication Level</h3>
				<p>Select from <strong>5</strong> predictive implication levels</p>
				<select class="form-control browse-dropdown">
					<option>FDA-Approved</option>
					<option>Level A</option>
					<option>Level B</option>
					<option>Level C</option>
					<option>Level D</option>
				</select>
			</div>

			<div class="col-md-4">
				<h3>Therapy</h3>
				<p>Select from <strong>100</strong> therapies:</p>
				<select class="form-control browse-dropdown">
					<option>Erlotinib</option>
					<option>Imatinib</option>
					<option>Thalidomide</option>
				</select>
			</div>

		</div>
	</div>
</section>

{% include 'footer.html' %}

{%- endblock %}
