{%- extends 'base.html' %}

{% block content %}

<div class="container">
    <table class="table table-condensed table-hover">
        <tr>
            <th>Alterations</th><th>Assertions</th><th>Sources</th>
        </tr>
        {% for assert in assertions %}
        <tr>
            <td class="col-xs-3">
                {% for alteration in assert.alterations %}
                <ul class="list-unstyled">
                    <li><strong>Feature:</strong> {{alteration.feature}}</li>
                    <li><strong>Gene name:</strong> {{alteration.gene_name}}</li>
                    <li><strong>Alt type:</strong> {{alteration.alt_type}}</li>
                    <li><strong>Alteration:</strong> {{alteration.alt}}</li>
                    <li>(Alteration ID: {{alteration.alt_id}})</li>
                </ul>
                {% endfor %}
            </td>

            <td class="col-xs-4">
                <ul class="list-unstyled">
                    <li><strong>Disease:</strong> {{assert.disease}}</li>
                    <li><strong>Therapy name:</strong> {{assert.therapy_name}}</li>
                    <li><strong>Therapy type:</strong> {{assert.therapy_type}}</li>
                    <li><strong>Therapy sensitivity:</strong> {{assert.therapy_sensitivity}}</li>
                    <li><strong>Predictive implication:</strong> {{assert.predictive_implication}}</li>
                    <li><strong>Favorable prognosis:</strong> {{assert.favorable_prognosis}}</li>
                    <li><strong>Description:</strong> {{assert.description}}</li>
                </ul>
            </td>

            <td class="col-xs-4">
                {% for source in assert.sources %}
                <ul class="list-unstyled">
                    <li><strong>DOI:</strong> {{source.doi}}</li>
                    <li><strong>Cite text:</strong> {{source.cite_text}}</li>
                </ul>
                {% endfor %}
            </td>

            <td class="col-xs-1">
                <a href="{{url_for('portal.delete', assert_id=assert.assertion_id)}}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{%- endblock %}
