{%- extends 'base.html' %}

{% block scripts %}
{{super()}}
<script type="text/javascript">
var typeahead_genes = [
{% for gene in typeahead_genes %}
'{{gene}}',
{% endfor %}
];
</script>
<script src="{{url_for('static', filename='js/typeahead.bundle.js')}}"></script>
<script src="{{url_for('static', filename='js/portal.js')}}"></script>
{% endblock %}

{% block page_content %}
<div class="jumbotron text-center">
    <h1 class="jumbotron-heading">TARGET DB</h1>
    <p class="lead text-muted" style="font-size: 14pt;">TARGET DB collects putative alteration/action relationships identified in clinical, preclinical, and inferential studies.</p>
    <p class="lead text-muted" style="font-size: 12pt;">Search {{num_genes}} genes associated with {{num_assertions}} clinical assertions.</p>
    <form action="search" method="get">
        <div id="jumbo-gene-search-group" class="input-group">
            <input id="gene-input" name="g" type="text" class="form-control typeahead" placeholder="Gene name">
            <span class="input-group-btn">
                            <button type="submit" class="btn btn-default btn-search" type="button">Search</button>
                        </span>
        </div>
    </form>
</div>

<div class="text-center">
    <p class="lead text-muted">Or browse alterations by:</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Cancer Type</h3>
        <p>Select from <strong>{{diseases|length}}</strong> cancer types:</p>
        <form action="search" method="get">
            <select name="d" class="form-control browse-dropdown">
                <option selected disabled hidden>Select cancer type</option>
                {% for disease in diseases %}
                <option>{{disease}}</option>
                {% endfor %}
            </select>
            <noscript><button type="submit" class="btn btn-default btn-alt-search" type="button">Search by cancer type</button></noscript>
        </form>
    </div>

    <div class="col-md-4">
        <h3>Predictive Implication Level</h3>
        <p>Select from <strong>{{pred_impls|length}}</strong> predictive implication levels</p>
        <form action="search" method="get">
            <select name="p" class="form-control browse-dropdown">
                <option selected disabled hidden>Select predictive implication level</option>
                {% for pred_impl in pred_impls %}
                <option>{{pred_impl}}</option>
                {% endfor %}
            </select>
            <noscript><button type="submit" class="btn btn-default btn-alt-search" type="button">Search by predictive implication level</button></noscript>
        </form>
    </div>

    <div class="col-md-4">
        <h3>Therapy</h3>
        <p>Select from <strong>{{therapy_names|length}}</strong> therapies:</p>
        <form action="search" method="get">
            <select name="t" class="form-control browse-dropdown">
                <option selected disabled hidden>Select therapy</option>
                {% for therapy_name in therapy_names %}
                <option>{{therapy_name}}</option>
                {% endfor %}
            </select>
            <noscript><button type="submit" class="btn btn-default btn-alt-search" type="button">Search by therapy</button></noscript>
        </form>
    </div>

</div>
</div>
</section>
{%- endblock %}
