{%- extends 'base.html' %}

{% block title %}{{ config['APP_NAME'] }}: About{% endblock %}

{% block page_content %}
<h1>About {{ config['APP_NAME'] }}</h1>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><strong>Purpose</strong></h3>
    </div>
    <div class="panel-body">
        <p>
            {{ config['APP_NAME'] }} attempts to capture the current body of knowledge on how genetic alterations affect clinical
            actionability. As the field of precision medicine grows, the quantity of research on how specific alterations
            affect therapeutic response and patient prognosis expands at an increasing rate. {{ config['APP_NAME'] }} seeks to curate this
            information from the literature, increasing the abilities of clinicians and researchers alike to rapidly
            assess the importance of an alteration.
            <br><br>
            If you use {{ config['APP_NAME_SHORT'] }}, please cite our publication:
            <br>
            <a href="https://www.biorxiv.org/content/10.1101/2020.09.22.308833v1">Reardon, B. et al. (2020). Clinical interpretation of integrative molecular profiles to guide precision cancer medicine. bioRxiv 2020.09.22.308833</a>.
        </p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><strong>Data access</strong></h3>
    </div>
    <div class="panel-body">
        <p>
            <a href="#" data-toggle="modal" data-target="#download-tos-modal">The contents of the {{ config['APP_NAME_SHORT'] }} may be downloaded here.</a>
            Each feature represented in the almanac (e.g., "somatic variant," "knockdown," etc.) is represented in a separate tab-separated value (TSV) file.
            The collection of TSV files representing the entire Almanac database is provided in a single ZIP file. The knowledge base can also be programmatically interfaced
            with through our <a href="https://app.swaggerhub.com/apis-docs/vanallenlab/almanac-browser/0.2#/" target="_blank">API endpoints</a>.
            <br><br>
            Please consider suggesting relationships through our <a href="{{ url_for('portal.add') }}">web form</a> or our
            <a href="https://chrome.google.com/webstore/detail/molecular-oncology-almana/jliaipolchffpaccagodphgjpfdpcbcm" target="_blank">Google Chrome extension</a>.
        </p>
    </div>
</div>

<div id="download-tos-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="download-tos-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="search-help-label">Almanac Export Terms of Service</h4>
            </div>
            <div class="modal-body">
                <p>
                    {% include "terms_of_service.html" %}
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <a href="export" type="button" class="btn btn-primary">Agree</a>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><strong>Predictive implication levels</strong></h3>
    </div>
    <div class="panel-body">
        <p>
            {{ config['APP_NAME'] }} categorizes each curated assertion by the strength of evidence asserting the
            relationship between a given molecular feature and clinical action. The levels used are:
        </p>
        <table class="table table-condensed">
            <tr><th>Level</th><th>Description</th></tr>
            <tr>
                <td>FDA-Approved</td>
                <td>The Food and Drug Association (FDA) recognizes an association between the alteration and recommended clinical action.</td>
            </tr>
            <tr>
                <td>Guideline</td>
                <td>This relationship is catalogued as a guideline for standard of care treatment.</td>
            </tr>
            <tr>
                <td>Clinical trial</td>
                <td>The alteration is or has been used as an eligibility criterion for a clinical trial.</td>
            </tr>
            <tr>
                <td>Clinical evidence</td>
                <td>The relationship is reported in a clinical study that did not directly involve a clinical trial.</td>
            </tr>
            <tr>
                <td>Preclinical evidence</td>
                <td>This relationship is reported in a study involving mice, cell lines, or patient derived models.</td>
            </tr>
            <tr>
                <td>Inferential evidence</td>
                <td>The relationship is inferred as a result of mathematical modeling or an association between molecular features.</td>
            </tr>
        </table>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><strong>Literature curation</strong></h3>
    </div>
    <div class="panel-body">
        <p>
            {{ config['APP_NAME'] }} draws primarily from primary research articles, review articles, FDA approvals, and
            clinical guidelines. Data is curated through expert review. Please view our <a href="https://github.com/vanallenlab/moalmanac-db/releases" target="_blank">database content release notes</a> and <a href="https://github.com/vanallenlab/moalmanac-db/blob/main/docs/sop.md" target="_blank">standard operating procedure</a> on Github.
        </p>
    </div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"><strong>Terms</strong></h3>
	</div>
	<div class="panel-body">
        {% include "terms_of_service.html" %}
	</div>
</div>

<figure style="display:block, margin:0 auto; text-align:center">
    <img src="/static/img/almanac.png" height="600px">
    <figcaption>Illustration by <a href="https://www.linkedin.com/in/ekofman/">Eric Kofman</a></figcaption>
</figure>

{%- endblock %}
