{%- extends 'base.html' %}

{% block title %}TARGET DB: About{% endblock %}

{% block page_content %}
<h1>About TARGET DB</h1>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><strong>Purpose</strong></h3>
    </div>
    <div class="panel-body">
        <p>
            TARGET DB attempts to capture the current body of knowledge on how genetic alterations affect clinical
            actionability. As the field of precision medicine grows, the quantity of research on how specific alterations
            affect therapeutic response and patient prognosis expands at an increasing rate. TARGET DB seeks to curate this
            information from the literature, increasing the abilities of clinicians and researchers alike to rapidly
            assess the importance of an alteration.
        </p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><strong>Literature curation</strong></h3>
    </div>
    <div class="panel-body">
        <p>
            TARGET DB draws primarily from primary research articles, review articles, and
            <a href="https://www.nccn.org/professionals/physician_gls/f_guidelines.asp">the NCCN guidelines</a>. Data
            is curated through both expert review and using a Natural Language Processing (NLP) approach to select
            potentially informative articles from <a href="https://www.ncbi.nlm.nih.gov/pubmed/">PubMed</a>.
        </p>

        <p>
            TARGET DB is co-developed with the <a href="http://archive.broadinstitute.org/cancer/cga/phial">PHIAL
            (Precision Heuristics for Interpreting the Alteration Landscape) algorithm</a>, which draws from TARGET
            and other alterations databases to classify patient tumor data.
        </p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><strong>Predictive Implication Levels</strong></h3>
    </div>
    <div class="panel-body">
        <p>
            TARGET DB classifies each curated assertion with a "predictive implication level" that describes the
            strength of the relationship between the given alteration and clinical action. The levels used are:
        </p>
        <table class="table table-condensed">
            <tr><th>Level</th><th>Description</th></tr>
            <tr>
                <td>FDA-Approved</td>
                <td>There is a validated association between the alteration and the recommended clinical action.</td>
            </tr>
            <tr>
                <td>Level A</td>
                <td>The alteration is or has been used as an eligibility criterion for a clinical trial.</td>
            </tr>
            <tr>
                <td>Level B</td>
                <td>There is limited early clinical evidence in support of this alteration/action relationship.</td>
            </tr>
            <tr>
                <td>Level C</td>
				<td>There is limited early clinical evidence in support of this alteration/action relationship, but it is observed in a different tumor type.<br><small><em style="color:gray;">Used in PHIAL, but not applicable to TARGET.</em></small></td>
            </tr>
            <tr>
                <td>Level D</td>
                <td>There is preclinical evidence in support of this alteration/action relationship.</td>
            </tr>
            <tr>
                <td>Level E</td>
                <td>There is inferential evidence in support of this alteration/action relationship.</td>
            </tr>
        </table>
    </div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"><strong>Terms</strong></h3>
	</div>
	<div class="panel-body">
		<p>TARGET DB is made available under the <a href="http://opendatacommons.org/licenses/odbl/1.0">Open Database License (ODbL)</a>. A <a href="https://opendatacommons.org/licenses/odbl/summary/">"plain-language" summary of the ODbL is available here.</a></p>
		<p>You are free to share and modify the contents of TARGET DB under the following restrictions:</p>
		<ol>
			<li>All public use of the data (either in its entirety or in part) must be attributed.</li>
			<li>Any works produced using the data must also be licensed under the ODbL.</li>
			<li>Any works produced using the data must be open; if you distribute a version encumbered by technological restrictions (e.g., DRM), another version without such restrictions must be made available.</li>
			<li>All <a href="http://opendatacommons.org/licenses/odbl/1.0">other terms of the ODbL</a> must be followed.</li>
		</ol>
		<p>DIAGNOSTIC AND CLINICAL USE PROHIBITED. THE BROAD INSTITUTE and DFCI MAKE NO REPRESENTATIONS OR WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NONINFRINGEMENT OR VALIDITY OF ANY INTELLECTUAL PROPERTY RIGHTS OR CLAIMS, WHETHER ISSUED OR PENDING, AND THE ABSENCE OF LATENT OR OTHER DEFECTS, WHETHER OR NOT DISCOVERABLE.</p>
		<p>In no event shall Broad or DFCI or their Trustees, Directors, Officers, Employees, Students, Affiliates, Core Faculty, Associate Faculty and Contractors, be liable for incidental, punitive, consequential or special damages, including economic damages or injury to persons or property or lost profits, regardless of whether the party was advised, had other reason to know or in fact knew of the possibility of the foregoing, regardless of fault, and regardless of legal theory or basis. You may not download or use any portion of this program for any use not expressly authorized by the Broad. You further agree that the program shall not be used as the basis of a commercial product and that the program shall not be rewritten or otherwise adapted to circumvent the need for obtaining permission for use of the program other than as specified herein.</p>
	</div>
</div>

{%- endblock %}
