<div id="search-help-modal" class="modal fade" tabindex="-1" role="dialog"
         aria-labelledby="search-help-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="search-help-label">Search help</h4>
                </div>
                <div class="modal-body">
                    <p>
                        The search function supports queries for feature names, attribute names & values, diseases,
                        therapies, and predictive implications. Queries may be combined; queries across different
                        categories will be combined with a boolean AND operation (e.g., Melanoma AND Erlotinib) while
                        queries within the same category will be combined with a boolean OR operation (e.g., Melanoma OR
                        Glioma).
                    </p>
                    <p>
                        Attribute searches require specifying both the attribute name and the desired attribute value,
                        separated by a colon (:). For example, to search for all assertions referencing a Knockout
                        experiment where the technique used was shRNA, enter "technique:shRNA" and select the Knockout
                        option.
                    </p>
                </div>
            </div>
        </div>
    </div>
