{%- extends 'base.html' %}

{% block scripts %}
{{super()}}
<script src="{{url_for('static', filename='repeatable-fields/repeatable-fields.js')}}"></script>
<script src="{{url_for('static', filename='editor.js')}}"></script>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row repeat">
        <form method="POST" action="#">
            {{ form.csrf_token }}
            <div class="col-xs-4 repeat-wrapper">
                <h3>Alterations</h3>

                <a class="btn btn-primary btn-block repeat-add" role="button" href="#">+ Add alteration</a>

                <div class="panel-group repeat-container">
                    <div class="panel panel-info repeat-row repeat-template">
                        <div class="panel-heading">
                            Alteration
                            <button type="button" class="close pull-right repeat-remove" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="panel-body">
                            <div class="form-group">
                                <div class="input-group">
									<span class="input-group-addon">
                                        {{ form.alt_feature_type.label(class='input-group-label') }}
									</span>

                                    {{ form.alt_feature_type(class='form-control') }}
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
									<span class="input-group-addon">
                                        {{ form.alt_gene_name.label(class='input-group-label') }}
									</span>

                                    {{ form.alt_gene_name(class='form-control') }}
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
									<span class="input-group-addon">
                                        {{ form.alt_type.label(class='input-group-label') }}
									</span>

                                    {{ form.alt_type(class='form-control') }}
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
									<span class="input-group-addon">
                                        {{ form.alt_alteration.label(class='input-group-label') }}
									</span>

                                    {{ form.alt_alteration(class='form-control') }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-info repeat-row">
                        <div class="panel-heading">
                            Alteration
                        </div>

                        <div class="panel-body">
                            <div class="form-group">
                                <div class="input-group">
									<span class="input-group-addon">
                                        {{ form.alt_feature_type.label(class='input-group-label') }}
									</span>

                                    {{ form.alt_feature_type(class='form-control') }}
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
									<span class="input-group-addon">
                                        {{ form.alt_gene_name.label(class='input-group-label') }}
									</span>

                                    {{ form.alt_gene_name(class='form-control') }}
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
									<span class="input-group-addon">
                                        {{ form.alt_type.label(class='input-group-label') }}
									</span>

                                    {{ form.alt_type(class='form-control') }}
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
									<span class="input-group-addon">
                                        {{ form.alt_alteration.label(class='input-group-label') }}
									</span>

                                    {{ form.alt_alteration(class='form-control') }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-4 repeat-wrapper">
                <h3>Assertions</h3>

                <a class="btn btn-primary btn-block repeat-add" role="button" href="#">+ Add assertion</a>

                <div class="panel-group repeat-container">
                    <div class="panel panel-info repeat-row repeat-template">
                        <div class="panel-heading">
                            Assertion
                            <button type="button" class="close pull-right repeat-remove" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="panel-body">
                            <div class="form-group">
                                <div class="input-group">
									<span class="input-group-addon">
                                        {{ form.assert_disease.label(class='input-group-label') }}
									</span>

                                    {{ form.assert_disease(class='form-control') }}
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
									<span class="input-group-addon">
                                        {{ form.assert_therapy_name.label(class='input-group-label') }}
									</span>

                                    {{ form.assert_therapy_name(class='form-control') }}
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
									<span class="input-group-addon">
                                        {{ form.assert_therapy_type.label(class='input-group-label') }}
									</span>

                                    {{ form.assert_therapy_type(class='form-control') }}
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
									<span class="input-group-addon">
                                        {{ form.assert_pred_impl.label(class='input-group-label') }}
									</span>

                                    {{ form.assert_pred_impl(class='form-control') }}
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
									<span class="input-group-addon">
                                        {{ form.assert_description.label(class='input-group-label') }}
									</span>

                                    {{ form.assert_description(class='form-control') }}
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        {{ form.assert_therapy_sensitivity() }}
                                        Alteration(s) cause sensitivity to this therapy?
                                    </label>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        {{ form.assert_favorable_prognosis() }}
                                        Alterations predict favorable prognosis?
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-info repeat-row">
                        <div class="panel-heading">
                            Assertion
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="input-group">
									<span class="input-group-addon">
                                        {{ form.assert_disease.label(class='input-group-label') }}
									</span>

                                    {{ form.assert_disease(class='form-control') }}
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
									<span class="input-group-addon">
                                        {{ form.assert_therapy_name.label(class='input-group-label') }}
									</span>

                                    {{ form.assert_therapy_name(class='form-control') }}
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
									<span class="input-group-addon">
                                        {{ form.assert_therapy_type.label(class='input-group-label') }}
									</span>

                                    {{ form.assert_therapy_type(class='form-control') }}
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
									<span class="input-group-addon">
                                        {{ form.assert_pred_impl.label(class='input-group-label') }}
									</span>

                                    {{ form.assert_pred_impl(class='form-control') }}
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
									<span class="input-group-addon">
                                        {{ form.assert_description.label(class='input-group-label') }}
									</span>

                                    {{ form.assert_description(class='form-control') }}
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        {{ form.assert_therapy_sensitivity() }}
                                        Alteration(s) cause sensitivity to this therapy?
                                    </label>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        {{ form.assert_favorable_prognosis() }}
                                        Alterations predict favorable prognosis?
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-4 repeat-wrapper">
                <h3>Sources</h3>

                <a class="btn btn-primary btn-block repeat-add" role="button" href="#">+ Add source</a>

                <div class="panel-group repeat-container">
                    <div class="panel panel-info repeat-row repeat-template">
                        <div class="panel-heading">
                            Source
                            <button type="button" class="close pull-right repeat-remove" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="panel-body">
                            <div class="form-group">
                                <div class="input-group">
									<span class="input-group-addon">
                                        {{ form.source_doi.label(class='input-group-label') }}
									</span>

                                    {{ form.source_doi(class='form-control') }}
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
									<span class="input-group-addon">
                                        {{ form.source_cite_text.label(class='input-group-label') }}
									</span>

                                    {{ form.source_cite_text(class='form-control') }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-info repeat-row">
                        <div class="panel-heading">
                            Source
                        </div>

                        <div class="panel-body">
                            <div class="form-group">
                                <div class="input-group">
									<span class="input-group-addon">
                                        {{ form.source_doi.label(class='input-group-label') }}
									</span>

                                    {{ form.source_doi(class='form-control') }}
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
									<span class="input-group-addon">
                                        {{ form.source_cite_text.label(class='input-group-label') }}
									</span>

                                    {{ form.source_cite_text(class='form-control') }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix visible-xs-block"></div>

            <div class="col-xs-12">
                <button class="btn btn-primary btn-lg btn-block" href="#" role="button">Submit Assertion(s)</button>
            </div>
        </form>
    </div>
</div>
{%- endblock %}
