<p class="card-text">
This instance of the Molecular Oncology Almanac was developed with the
<a href="https://www.ul.ie/ehs/medicine/prof-aedin-culhane" target="_blank">Culhane lab</a> at the
<a href="https://www.ul.ie" target="_blank">University of Limerick</a> in collaboration with the
<a href="https://www.hse.ie/eng/services/list/5/cancer/" target="_blank">Health Service Executive's National Cancer Control Programme</a>.
It contains <a href="{{ url_for('main.indications') }}">regulatory approvals for use</a> from the
<a href="{{ url_for('main.organizations', organization_id=ema) }}">European Medicines Agency</a> and
<a href="{{ url_for('main.organizations', organization_id=hpra) }}">Health Products Regulatory Agency</a>, as well as
approvals for reimbursement within the public health system from <a href="{{ url_for('main.organizations', organization_id=hse) }}">Health Service Executive</a>.
</p>
