{% extends 'base.html' %}

{% block title %}
{{ biomarker.name }} | Molecular Oncology Almanac
{% endblock %}

{% block content %}
  <br>
  <h2 class="title">{{ biomarker.name }}</h2>
  <p><!-- Placeholder for description on the gene record --></p>

  <div class="row align-items-stretch">
    <div class="col-sm-6 d-flex">
      <div class="card flex-fill mb-3">
        <h5 class="card-header">About</h5>
        <div class="card-body compact-card-text">
          {% if biomarker.genes %}
            <p class="card-text">
              <strong>Gene context</strong>: {% for gene in biomarker.genes %}<a href="{{ url_for('main.genes', gene_symbol=gene.name | urlencode) }}"><em>{{ gene.name }}</em></a>{% if not loop.last %}, {% endif %}{% endfor %}
            </p>
          {% endif %}
          {% for extension in biomarker.extensions %}
            <p class="card-text"><strong>{{ extension.name.replace('_', ' ').title() }}</strong>: {{ extension.value }}</p>
          {% endfor %}
          <br>
          <i><a href="https://moalmanac.org/" target="_blank">Legacy biomarker representation</a>, assumes GRCh37 / hg19 genome build</i>.
        </div>
      </div>
    </div>

    <div class="col-sm-6 d-flex">
      <div class="card flex-fill mb-3">
        <h5 class="card-header">Mappings</h5>
        <div class="card-body compact-card-text">
          <!-- -->
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-end mb-3">
      <a href="{{ api_url }}/biomarkers?biomarker_name={{ biomarker.name | urlencode }}" target="_blank" class="btn btn-outline-primary">
        View API
      </a>
    </div>
  </div>


  <h4 class="subtitle">Therapeutic response</h4>
  <p>Precision oncology relationships for therapeutic response involving this biomarker.</p>

  {% include "search_table_therapeutic_response.html" %}
  <br>
{% endblock %}
