{% extends 'base.html' %}

{% block title %}
{{ biomarker.name }} | Molecular Oncology Almanac
{% endblock %}

{% block content %}
  <br>
  <h2 class="title">{{ biomarker.name }}</h2>
  <p><!-- Placeholder for description on the gene record --></p>

  <div class="row align-items-stretch">
    <div class="col-sm-6 d-flex">
      <div class="card flex-fill mb-3">
        <h5 class="card-header">About</h5>
        <div class="card-body compact-card-text">
          <!-- -->
        </div>
      </div>
    </div>
    <div class="col-sm-6 d-flex">
      <div class="card flex-fill mb-3">
        <h5 class="card-header">Mappings</h5>
        <div class="card-body compact-card-text">
          <!-- -->
        </div>
      </div>
    </div>
  </div>

  <h4 class="subtitle">Therapeutic response</h4>
  Precision oncology relationships for therapeutic response involving this biomarker.
  <br><br>

  {% include "statements_table.html" %}
  <br>
{% endblock %}