{% extends 'base.html' %}

{% block title %}
Biomarkers | Molecular Oncology Almanac
{% endblock %}

{% block content %}
  <br>
  <h2 class="title">Biomarkers</h2>
  <br>

  <div class="row mb-4">
    <div class="col-md-4">
      <select id="biomarkerTypeFilter" class="form-select form-select-sm">
        <option value="">{{ all_biomarker_types|length }} biomarker types</option>
        {% for t in all_biomarker_types %}
          <option value="{{ t }}">{{ t }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <table id="biomarkers-table-result" class="table table-striped table-hover table-sm small w-100 dataTable">
      <thead>
          <tr>
              <th style="width: 10%">Name</th>
              <th style="width: 10%">Biomarker type</th>
              <th style="width: 10%">Propositions</th>
              <th style="width: 10%">Statements</th>
          </tr>
      </thead>
      <tbody>
          {% for biomarker in biomarkers %}
              <tr data-biomarkerType="{{ biomarker.type }}">
                  <td>{{ biomarker.name }}</td>
                  <td>{{ biomarker.type }}</td>
                  <td>{{ biomarker.propositions_count }}</td>
                  <td>{{ biomarker.statements_count }}</td>
              </tr>
          {% endfor %}
      </tbody>
  </table>
{% endblock %}