{% extends 'base.html' %}

{% block title %}
{{ biomarker.name }} | Molecular Oncology Almanac
{% endblock %}

{% block content %}
  <br>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ url_for('main.biomarkers') }}">Biomarkers</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ biomarker.id }}</li>
    </ol>
  </nav>
  <h2 class="title">{{ biomarker.name }}</h2>
  <p><!-- Placeholder for description on the gene record --></p>

  <div class="row align-items-stretch">
    <div class="col-sm-6 d-flex">
      <div class="card flex-fill mb-3">
        <h5 class="card-header">About</h5>
        <div class="card-body compact-card-text">
          {% for row in biomarker.about %}
            {% if row.genes %}
              <p class="card-text">
                <strong>{{ row.label }}</strong>: {% for gene in row.genes %}<a href="{{ url_for('main.genes', gene_id=gene.id) }}"><em>{{ gene.name }}</em></a>{% if not loop.last %}, {% endif %}{% endfor %}
              </p>
            {% else %}
              <p class="card-text"><strong>{{ row.label }}</strong>: {{ row.value }}</p>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="col-sm-6 d-flex">
      <div class="card flex-fill mb-3">
        <h5 class="card-header">Mappings</h5>
        <div class="card-body compact-card-text">
          <!-- -->
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-end mb-3">
      <a href="{{ api_url }}/biomarkers?biomarker_id={{ biomarker.id | api_id }}" target="_blank" class="btn btn-outline-primary">
        View API
      </a>
    </div>
  </div>


  <h4 class="subtitle">Therapeutic response</h4>
  <p>Precision oncology relationships for therapeutic response involving this biomarker.</p>

  {% include "search_table_therapeutic_response.html" %}
  <br>
{% endblock %}
