{% extends 'base.html' %}

{% block title %}
Cancer types | Molecular Oncology Almanac
{% endblock %}

{% block content %}
    <table id="diseases-table-result" class="table table-striped table-hover table-sm small w-100">
        <thead>
            <tr>
                <th style="width: 10%">Name</th>
                <th style="width: 10%">Propositions</th>
                <th style="width: 10%">Statements</th>
            </tr>
        </thead>
        <tbody>
            {% for disease in diseases %}
                <tr>
                    <td>{{ disease.name }}</td>
                    <td>{{ disease.propositions_count }}</td>
                    <td>{{ disease.statements_count }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}