{% extends 'base.html' %}

{% block title %}
Documents | Molecular Oncology Almanac
{% endblock %}

{% block content %}
    <br>

    <div class="row mb-4">
      <div class="col-md-4">
        <select id="organizationFilter" class="form-select form-select-sm">
          <option value="">{{ all_organizations|length }} organizations</option>
          {% for s in all_organizations %}
            <option value="{{ s }}">{{ s }}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <table id="table-result" class="table table-striped table-hover table-sm small w-100">
        <thead>
            <tr>
                <th style="width: 80%">Citation</th>
                <th style="width: 10%">Indications</th>
                <th style="width: 10%">Statements</th>
            </tr>
        </thead>
        <tbody>
            {% for document in documents %}
                <tr data-organization="{{ document.organization_name }}">
                    <td>{{ document.citation }}</td>
                    <td>{{ document.indications_count }}</td>
                    <td>{{ document.statements_count }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}