{% extends 'base.html' %}

{% block title %}
{{ gene.name }} | Molecular Oncology Almanac
{% endblock %}

{% block content %}
  <br>
  <h2 class="title"><em>{{ gene.name }}</em></h2>
  <p><!-- Placeholder for description on the gene record --></p>

  <div class="row align-items-stretch">
    <div class="col-sm-6 d-flex">
      <div class="card flex-fill mb-3">
        <h5 class="card-header">About</h5>
        <div class="card-body compact-card-text">
          <p class="card-text"><strong>Location</strong>: {{ gene.location }}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 d-flex">
      <div class="card flex-fill mb-3">
        <h5 class="card-header">Mappings</h5>
        <div class="card-body compact-card-text">
          <p class="card-text"><strong>HGNC</strong>: <a href="{{ gene.primaryCoding.iris[0] }}" target="_blank">{{ gene.primaryCoding.code }}</a></p>
          <p class="card-text"><strong>Ensembl</strong>: <a href="{{ gene.mappings[0].coding.iris[0] }}" target="_blank">{{ gene.mappings[0].coding.code }}</a></p>
          <p class="card-text"><strong>NCBI</strong>: <a href="{{ gene.mappings[1].coding.iris[0] }}" target="_blank">{{ gene.mappings[1].coding.code }}</a></p>
          <p class="card-text"><strong>Refseq</strong>: <a href="{{ gene.mappings[2].coding.iris[0] }}" target="_blank">{{ gene.mappings[2].coding.code }}</a></p>
        </div>
      </div>
    </div>
  </div>

  <h4 class="subtitle">Biomarkers</h4>
  {{ gene.name }} is involved in the following curated <a href="{{ url_for('main.biomarkers') }}">biomarkers</a>.
  <br><br>


  <h4 class="subtitle">Therapeutic response</h4>
  Precision oncology relationships for therapeutic response involving this gene.
  <br><br>

  {% include "statements_table.html" %}
  <br>
{% endblock %}