{% extends 'base.html' %}

{% block title %}
{{ indication.id }} | Molecular Oncology Almanac
{% endblock %}

{% block content %}
  <br>
  <h2 class="title">Regulatory approval</h2>
  <p>Published by the <a href="{{ url_for('main.organizations', organization_id=indication.document.organization.id) }}">{{ indication.document.organization.name }}</a>.</p>

  <p>{{ indication.description }}</p>

  This is written in the <a href="{{ url_for('main.documents', document_id=indication.document.id) }}">approval document</a> as:
  <blockquote class="blockquote">
    <p>{{ indication.indication }}</p>
  </blockquote>

  <h4 class="subtitle">Citation</h4>
  <a href="{{ indication.document.url }}" target="_blank">{{ indication.document.citation }}</a>
  <br><br>

  <h4 class="subtitle">Therapeutic response</h4>
  Precision oncology relationships for therapeutic response derived from this regulatory approval.
  <br><br>

  <table id="statements-table-result" class="table table-striped table-hover table-sm small w-100 dataTable">
    <thead>
      <tr>
        <!--<th style="width: 10%>Implication</th>-->
        <th style="width: 10%">Type</th>
        <th style="width: 25%">Biomarker(s)</th>
        <th style="width: 25%">Cancer type</th>
        <th style="width: 25%">Therapy(ies)</th>
        <th style="width: 5%"></th>
      </tr>
    </thead>
    <tbody>
      {% for statement in statements %}
        <tr>
          <td>{{ statement.proposition.predicate }} ({{ statement.direction }})</td>
          <td>{{ statement.proposition['biomarkers'] | map(attribute='name') | join(', ') }}</td>
          <td>{{ statement.proposition['cancer_type']['name'] }}</td>
          <td>
            {% for therapy in statement.proposition['therapies'] %}
              <a href="{{ url_for('main.therapies', therapy_name=therapy.name) }}">{{ therapy.name }}</a>{% if not loop.last %},{% endif %}
            {% endfor %}
          </td>
          <td>
            <a href="{{ url_for('main.index') }}" class="btn btn-sm" title="More information" data-bs-toggle="tooltip">
              <i class="bi bi-info-circle" aria-hidden="true"></i>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
  </table>

  <br>

{% endblock %}