 <ul id="logo-list" class="list-inline">
    <li class="list-inline-item logo-container">
        <a href="https://www.dana-farber.org/" target="_blank" rel="noopener noreferrer">
            <img src="{{ url_for('static', filename = 'img/dana-farber-color.png') }}" class="img-fluid footer-img" alt="Dana-Farber logo">
        </a>
    </li>
    <li class="list-inline-item logo-container">
        <a href="https://www.ul.ie/" target="_blank" rel="noopener noreferrer">
            <img src="{{ url_for('static', filename = 'img/ul-master-log-rgb.png') }}" class="img-fluid footer-img" alt="University of Limerick logo">
        </a>
    </li>
  </ul>