<div class="row">
    <div class="text-center">
        <h2 class="title">Molecular Oncology Almanac</h2>
        <h3 class="subtitle">{{ subtitle }}</h3>
        <p class="lead" style="font-size: 14pt;">
            {{ caption }}
        </p>
        <p class="lead" style="font-size: 12pt;">
          Search across <a href="{{ url_for('main.search') }}">{{ about['statements_count'] }} genomic knowledge statements</a> derived from <a href="{{ url_for('main.documents') }}">{{ about['documents_count'] }} documents</a>, including <a href="{{ url_for('main.indications') }}">{{ about['indications_count'] }} regulatory approvals</a>.
        </p>
    </div>
</div>
