 <ul id="logo-list" class="list-inline">
    <li class="list-inline-item logo-container">
        <a href="https://www.dana-farber.org/" target="_blank" rel="noopener">
            <img src="{{ url_for('static', filename = 'img/dana-farber-color.png') }}" class="img-fluid footer-img" alt="Dana-Farber logo">
        </a>
    </li>
    <li class="list-inline-item logo-container">
        <a href="https://www.ul.ie/limerick-dcrc" target="_blank" rel="noopener">
            <img src="{{ url_for('static', filename = 'img/ul-ldcrc.png') }}" class="img-fluid footer-img" alt="University of Limerick Digital Health Center logo">
        </a>
    </li>
     <li class="list-inline-item logo-container">
        <a href="https://www.ehealth4cancer.ie" target="_blank" rel="noopener">
            <img src="{{ url_for('static', filename = 'img/ehealthhub.png') }}" class="img-fluid footer-img" alt="eHealthHub logo">
        </a>
    </li>
  </ul>
