<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Molecular Oncology Almanac</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse " id="navbarMain">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{ api_url }}" target="_blank">API</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.indications') }}">Approvals</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.organizations') }}">Organizations</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.about') }}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.about') }}">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://news.moalmanac.org" rel="noopener noreferrer">News</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
