{% extends 'base.html' %}
{% from "macros.html" import biomarker_prose %}

{% block title %}
Statement {{ statement.id }} | Molecular Oncology Almanac
{% endblock %}

{% block content %}
<br>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url_for('main.statements') }}">Statements</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ statement.id }}</li>
  </ol>
</nav>
<h2 class="title">{{ statement.proposition.proposition_type.title() }} Statement ({{
  statement.proposition.predicate.title() }})
  {% if statement.status and statement.status != 'Active' %}<span class="badge text-bg-secondary fs-6 align-middle">{{ statement.status }}</span>{% endif %}
</h2>
<p>This {{ statement.proposition.proposition_type.lower() }} statement <strong>{{ statement.direction }}</strong> the relationship that {{ biomarker_prose(statement.proposition.biomarkers) }} status confers therapeutic {{ statement.proposition.predicate.lower() }} to {% for therapy in statement.proposition['therapies'] %}<a href="{{ url_for('main.therapies', therapy_id=therapy.id) }}">{{ therapy.name }}</a>{% if not loop.last %}, {% endif %}{% endfor %} in patients with <a href="{{ url_for('main.diseases', disease_id=statement.proposition.cancer_type.id) }}">{{statement.proposition.cancer_type.name }}</a>.</p>

<p>{{ statement.description }}</p>

<!--
{% if statement.strength %}
<p><strong>Strength of evidence</strong>: {{ statement.strength }}</p>
{% endif %}
-->

{% if statement.indication %}
<p>
  This statement is based on a <a href="{{ url_for('main.indications', indication_id=statement.indication.id) }}">regulatory approval</a> from the <a href="{{ url_for('main.organizations', organization_id=statement.indication.agent.id) }}">{{ statement.indication.agent.name }}</a>:
</p>
<blockquote class="blockquote">
  <p>{{ statement.indication.description }}</p>
</blockquote>
{% endif %}

<h4 class="subtitle">Citation</h4>
<p>
  {% for document in statement.documents %}
  <a href="{{ url_for('main.documents', document_id=document.id) }}">{{ document.description }}</a>
  {% endfor %}
</p>

{% endblock %}
