{% extends 'base.html' %}

{% block title %}
Statement {{ statement.id }} | Molecular Oncology Almanac
{% endblock %}

{% block content %}
<br>
<h2 class="title">{{ statement.proposition.proposition_type.title() }} Statement ({{
  statement.proposition.predicate.title() }})</h2>
<p>This {{ statement.proposition.proposition_type.lower() }} statement <strong>{{ statement.raw.direction }}</strong>
  the relationship that {% for biomarker in statement.proposition.biomarkers %}<a
    href="{{ url_for('main.biomarkers', biomarker_name=biomarker.name | urlencode) }}">{{ biomarker.name }}</a>{% if not
  loop.last %}, {% endif %}{% endfor %} status confers therapeutic {{ statement.proposition.predicate.lower() }} to {%
  for therapy in statement.proposition['therapies'] %}<a
    href="{{ url_for('main.therapies', therapy_name=therapy.name | urlencode) }}">{{ therapy.name }}</a>{% if not
  loop.last %}, {% endif %}{% endfor %} in patients with <a
    href="{{ url_for('main.diseases', disease_name=statement.proposition.cancer_type.name | urlencode) }}">{{
    statement.proposition.cancer_type.name }}</a>.</p>

<p>{{ statement.description }}</p>

{% if statement.raw.indication %}
<p>
  This statement is based on a <a href="{{ url_for('main.indications', indication_id=statement.raw.indication.id) }}">{{
    statement.raw.indication.document.subtype.lower() }}</a> from the <a
    href="{{ url_for('main.organizations', organization_id=statement.raw.indication.document.agent.id) }}">{{
    statement.raw.indication.document.agent.name }}</a>:
</p>
<blockquote class="blockquote">
  <p>{{ statement.raw.indication.indication }}</p>
</blockquote>
{% endif %}

<h4 class="subtitle">Citation</h4>
<p>
  {% for document in statement.documents %}
  <a href="{{ url_for('main.documents', document_id=document.id) }}">{{ document.citation }}</a>
  {% endfor %}
</p>

{% endblock %}
