{% extends 'base.html' %}

{% block title %}
Therapies | Molecular Oncology Almanac
{% endblock %}

{% block content %}
  <br>

  <div class="row mb-4">
    <div class="col-md-4">
      <select id="therapyTypeFilter" class="form-select form-select-sm">
        <option value="">{{ all_therapy_types|length }} therapy types</option>
        {% for t in all_therapy_types %}
          <option value="{{ t }}">{{ t }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <table id="therapies-table-result" class="table table-striped table-hover table-sm small w-100">
    <thead>
      <tr>
        <th style="width: 10%">Name</th>
        <th style="width: 10%">Therapy strategies</th>
        <th style="width: 10%">Therapy type</th>
        <th style="width: 10%">Propositions</th>
        <th style="width: 10%">Statements</th>
      </tr>
    </thead>
    <tbody>
      {% for therapy in therapies %}
        <tr data-therapyType="{{ therapy.therapy_type }}">
          <td>{{ therapy.name }}</td>
          <td>{{ therapy.therapy_strategy }}</td>
          <td>{{ therapy.therapy_type }}</td>
          <td>{{ therapy.propositions_count }}</td>
          <td>{{ therapy.statements_count }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}